<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.daksh.tmdbsample">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.TmdbApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".movielist.MovieListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".moviedetail.MovieDetailActivity"
            android:label="@string/title_movie_detail"
            android:parentActivityName=".movielist.MovieListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".movielist.MovieListActivity"/>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4faf9156ab7fbb9b39397f70a8c742a9e00525ea"/>

    </application>

</manifest>